<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tokendogg.comment_system.mapper.CommentMapper">
    <insert id="addNewComment" parameterType="com.tokendogg.comment_system.entity.Comment" useGeneratedKeys="true" keyProperty="comment_id">
        INSERT INTO comments (post_id,user_id,content,parent_comment_id)
        VALUES (#{post_id},#{user_id},#{content},#{parent_comment_id})

    </insert>


    <select id="getCommentById">
        SELECT * FROM comments WHERE comment_id = #{comment_id}
    </select>

    <insert id="addNewLike" parameterType="com.tokendogg.comment_system.entity.Like" useGeneratedKeys="true" keyProperty="like_id">
        INSERT INTO likes (comment_id,user_id,liked_by)
        VALUES (#{comment_id},#{user_id},#{liked_by})
    </insert>

    <update id="updateCommentLikes" parameterType="com.tokendogg.comment_system.entity.Comment">
        UPDATE comments
        SET num_likes = num_likes + 1
        WHERE comment_id = #{comment_id}
    </update>

    <select id="getAllCommentsSortByLikes" resultType="com.tokendogg.comment_system.entity.Comment">
        SELECT * FROM comments
        WHERE post_id = #{post_id} AND parent_comment_id IS NULL
        ORDER BY num_likes DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getAllCommentsSortByDates" resultType="com.tokendogg.comment_system.entity.Comment">
        SELECT * FROM comments
        WHERE post_id = #{post_id} AND parent_comment_id IS NULL
        ORDER BY created_at ASC
        LIMIT #{limit} OFFSET #{offset}
    </select>


    <select id="getALLChildComments" resultType="com.tokendogg.comment_system.entity.Comment">
        SELECT * FROM comments
        WHERE post_id = #{post_id} and parent_comment_id = #{parent_comment_id}
        ORDER BY created_at DESC
    </select>

    <select id = "getLikeById" resultType="com.tokendogg.comment_system.entity.Like">
        SELECT * FROM likes
        WHERE like_id = #{like_id}
    </select>
</mapper>