<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tokendogg.comment_system.mapper.PostMapper">
    <insert id="addNewPost" parameterType="com.tokendogg.comment_system.entity.Post" useGeneratedKeys="true" keyProperty="post_id">
        INSERT INTO posts (user_id,title,content)
        VALUES (#{user_id},#{title},#{content})
    </insert>

    <select id="getPostById" resultType="com.tokendogg.comment_system.entity.Post">
        SELECT * FROM posts
        WHERE post_id = #{post_id}
    </select>

</mapper>