<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tokendogg.comment_system.mapper.ReportMapper">
    <insert id="addNewReport" parameterType="com.tokendogg.comment_system.entity.Report" useGeneratedKeys="true" keyProperty="report_id">
        INSERT INTO reports (comment_id,user_id,reason)
        VALUES (#{comment_id},#{user_id},#{reason})

    </insert>

</mapper>