<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tokendogg.comment_system.mapper.UserMapper">
    <insert id="addNewUser" parameterType="com.tokendogg.comment_system.entity.User">
        INSERT INTO users (username)
        VALUES (#{username})
    </insert>


</mapper>